# Auto detect text files and perform LF normalization
* text=auto
frontend/* linguist-documentation=false
frontend/* linguist-vendored
backend/* linguist-documentation=false
backend/* linguist-vendored
