---
import "../styles/global.css";
import "@fontsource-variable/inter";
import Navigation from "../components/Navigation.jsx";
import Footer from "../components/Footer.jsx";
import FeaturedSlider from "../components/FeaturedSlider.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CineMind</title>
  </head>
  <body>
    <div class="min-h-screen flex flex-col bg-black">
      <Navigation />
      <FeaturedSlider client:only />
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
