---
import Layout from "../layouts/Layout.astro";
import FeaturedSlider from "../components/FeaturedSlider";
import MovieGrid from "../components/MovieGrid";
import YearDistributionChart from "../components/YearDistributionChart";

// Fetch featured movies from the backend
const featuredMoviesResponse = await fetch("http://127.0.0.1:5000/featured");
const featuredMoviesData = await featuredMoviesResponse.json();
const featuredMovies = featuredMoviesData || [];
// console.log("Fetched featured movies", featuredMovies);

// Fetch popular movies from the backend
const popularMoviesResponse = await fetch("http://127.0.0.1:5000/popular");
const popularMoviesData = await popularMoviesResponse.json();
const popularMovies = popularMoviesData || [];
//console.log("Fetched popular movies", popularMovies);

// Fetch randomised explore movies from the backend
const exploreMoviesResponse = await fetch("http://127.0.0.1:5000/explore");
const exploreMoviesData = await exploreMoviesResponse.json();
const exploreMovies = exploreMoviesData || [];
//console.log("Fetched explore movies", exploreMovies);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="CineMind">
  <FeaturedSlider client:load featuredMovies={featuredMovies} />

  <div class="content-wrapper py-10">
    <MovieGrid
      client:visible
      title="Popular Movies"
      tagline="Top rated films loved by our community"
      movies={popularMovies}
    />
    <div class="my-16">
      <h2 class="text-2xl font-bold mb-4">Movie Releases Across Time</h2>
      <p class="text-gray-500 mb-6">
        Explore the distribution of our movie collection by year
      </p>
      <YearDistributionChart
        client:visible
        movies={[...popularMovies, ...exploreMovies, ...featuredMovies]}
      />
    </div>

    <MovieGrid
      client:visible
      title="Explore"
      tagline="Find your next favorite movie"
      movies={exploreMovies}
    />
  </div>
</Layout>
